<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Food Search</title>
    <link rel="stylesheet" href="static/bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css">
    <script src="static/bower_components/jquery/dist/jquery.js"></script>
    <script src="static/bower_components/jquery-ui/jquery-ui.min.js"></script>
  </head>
  <body>

    <p>
      <label for="autocomplete">Select a programming language: </label>
      <input id="autocomplete">
    </p>

    <script>
      $(function(){
        $("#autocomplete").autocomplete({
          source: function(request, response){
            $.ajax({
              url: "http://localhost:5000/food_types/all",
              dataType: "json",
              data: {
                q: request.term
              },
              success: function( data ) {
                console.log(data);
                response(data);
              }
            });
          },
          minLength: 2,
          select: function( event, ui ) {
            console.log( ui.item ?
              "Selected: " + ui.item.extra :
              "Nothing selected, input was " + this.value);
          }
        });
      });
    </script>
  </body>
</html>
